/** styling goes here **/
#app {
    font-family: Corbel, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    background-color: #1a1414;
}
a {
    text-decoration: none;
}
.text-block{
    font-family: 'Trebuchet MS', 'Lucida Sans', Arial, sans-serif;
}
.bytie-pink {
    color: #ff8d95;
}
.bytie-light-pink {
    color: #f1bfbf;
}
.tracked-wide {
    letter-spacing: 1.05em;
}
